* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  text-align: center;
}

header > h1 {
  font-weight: 500;
  font-size: 1.75rem;
  color: #f9f4da;
}

header > p {
  font-weight: 500;
  color: #8e8e8e;
}

.game-status {
  background-color: #10a95b;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f9f4da;
  margin: 15px 0px 45px;
  width: 100%;
}

.game-status h2 {
  margin: 5px;
  font-size: 1.75rem;
  font-weight: 500;
}

.game-status p {
  font-weight: 500;
  font-size: 1.2rem;
  margin: 5px;
}

.language-chips {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
  max-width: 350px;
}

.language-element {
  padding: 4.5px;
  border-radius: 3px;
}

.word {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.letter {
  width: 40px;
  height: 40px;
  font-size: 1.125rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  color: #f9f4da;
  background-color: #323232;
  border-bottom: 1px solid #f9f4da;
}
